<div class="row-footer-2 flex-center">
  <div class="item-3 flex-center">
    <span><i class="icon-email icon-2x"></i></span>
    <h4>Contacta con Florentino</h4>
    <p>Estaremos encantados de ayudarle :)</p>
  </div>
  <div class="item-3 flex-center">
    <span><i class="icon-truck icon-2x"></i></span>
    <h4>Envios</h4>
    <p>De 3 a 5 días laborables Nacional<br/>De 5 a 7 días laborables Europa</p>
  </div>
  <div class="item-3 flex-center">
    <span><i class="icon-lock icon-2x"></i></span>
    <h4>Pago Seguro</h4>
    <p>Visa, Mastercard, 4 B</p>
  </div>
  <div class="item-3 flex-center">
    <span><i class="icon-arrow-turn icon-2x"></i></span>
    <h4>CAMBIOS Y DEVOLUCIONES</h4>
    <p>Dispone de 15 días naturales para <br/>efectuar cualquier devolución o cambio</p>
  </div>
</div>
<div class="row-footer-2 flex-center">
  <div class="item flex-center left">
    <h4>NEWSLETTER</h4>
    <p>Suscríbase a nuestro boletín electrónico.</p>
    <p>No se pierda las últimas novedades y eventos en tienda.</p>
  </div>
  <div class="item flex-center right">
    <h4>Síguenos en</h4>
    <ul class="list-inline social">
      <li class="icon">
        <a href="https://www.facebook.com" title="Facebook">
          <i class="icon-facebook">
            <span class="hidden">&nbsp;</span>
          </i>
        </a>
      </li>
      <li class="icon">
        <a href="https://www.instagram.com" title="Instagram">
          <i class="icon-instagram">
            <span class="hidden">&nbsp;</span>
          </i>
        </a>
      </li>
      <li class="icon">
        <a href="https://www.youtube.com" title="youtube">
          <i class="icon-youtube">
            <span class="hidden">&nbsp;</span>
          </i>
        </a>
      </li>
      <li class="icon">
        <a href="https://twitter.com" title="Twitter">
          <i class="icon-twitter">
            <span class="hidden">&nbsp;</span>
          </i>
        </a>
      </li>
      <li class="icon">
        <a href="https://www.pinterest.com" title="pinterest">
          <i class="icon-pinterest">
            <span class="hidden">&nbsp;</span>
          </i>
        </a>
      </li>
    </ul>
  </div>
</div>