<div class="container">


    <div class="row" style="min-height:800px;">
        <div class="col-sm-12 col-md-6" style="min-height:auto;">
          <h1>Guía de tallas</h1>
          <br/>
          <p>Para elegir la talla adecuada, debemos tomar las medidas como se indica a continuación. Si después de medirnos y consultar la tabla vemos que estamos entre dos tallas, debemos decidir en función de cómo queremos que nos quede: ajustado escogeremos la talla inferior y holgado escogeremos la talla superior.</p>

          <h4><strong>1. Cabeza</strong></h4>

          <p>Debemos colocar la cinta métrica alrededor de la cabeza por encima de las orejas, a la altura de la mitad de la frente y por la parte más saliente de atrás.</p>

          <h4><strong>2. Cuello</strong></h4>

          <p>Pasaremos la cinta métrica alrededor del cuello. Es importante introducir un dedo entre el metro y el cuello para dar la comodidad deseada.</p>

          <h4><strong>3. Pecho</strong></h4>
          <p>Pasaremos la cinta métrica por debajo de los brazos y colocándola justo por la parte más saliente del pecho. Es importante que al tomar las medidas no apretemos la cinta en exceso, debemos coger el contorno, pero de una forma relajada.</p>

          <h4><strong>4. Cintura</strong></h4>

          <p>Debemos colocar la cinta métrica alrededor del tronco, donde los pantalones reposan normalmente.</p>

          <h4><strong>5. Cadera</strong></h4>

          <p>Rodearemos nuestra cadera con la cinta métrica pasando por la parte más saliente del trasero y ascendiendo un poco hacia delante. Esta medida debe tomarse ligeramente holgada.</p>

          <h4><strong>6. Mano</strong></h4>

          <p>Pasaremos la cinta métrica alrededor de la mano en la parte más ancha (a la altura de los nudillos), dejando fuera el dedo pulgar.</p>

          <h4><strong>7. Pie</strong></h4>

          <p>Mediremos el pie desde el dedo más grande hasta el talón. Si al consultar la tabla comprobamos que oscilamos entre dos tallas, es recomendable optar por la talla superior.</p>

        </div>
        <div class="col-sm-12 col-md-6" style="min-height:auto;padding: 40px 40px 0px 40px;">
          <div class="center" style="margin: 0 auto;">
              <img src="https://cdn.florentino.com/ckeditor_assets/pictures/300/content_guia-tallas.jpg" alt="" width="100%">
          </div>

        </div>
    </div>


<h2 class="size-title">PARTE DE ARRIBA</h2>
<table class="table table-striped" id="table-size">
  <thead>
    <tr>
      <th  colspan="11" class="table-title-static">Trajes / Cazadoras / Americanas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-left">EUROPA</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
      <td>64</td>
    </tr>
    <tr>
      <td class="align-left">UK</td>
      <td>36</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
    </tr>
    <tr>
      <td class="align-left">RUSIA</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
    </tr>
    <tr>
      <td class="align-left">CHINA</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
      <td>64</td>
    </tr>
    <tr>
      <td class="align-left">MEXICO</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
      <td>64</td>
    </tr>
    <tr>
      <td class="align-left">Pecho (cm)</td>
      <td>91-93</td>
      <td>95-97</td>
      <td>99-101</td>
      <td>103-105</td>
      <td>107-109</td>
      <td>111-113</td>
      <td>115-117</td>
      <td>119-121</td>
      <td>123-125</td>
      <td>127-129</td>
    </tr>
  </tbody>
</table>

<h2 class="size-title">CAMISA</h2>
<table class="table table-striped" id="table-size">
  <thead>
    <tr>
      <th  colspan="7" class="table-title-static">Camisas Vestir / Camisas Casual</th>
    </tr>
  </thead>
  <tbody>
      <td class="align-left">EUROPA</td>
      <td>S</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
      <td>XXL</td>
      <td>XXXL</td>
    </tr>
    <tr>
      <td class="align-left">UK</td>
      <td>S</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
      <td>XXL</td>
      <td>XXXL</td>
    </tr>
    <tr>
      <td class="align-left">RUSIA</td>
      <td>S</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
      <td>XXL</td>
      <td>XXXL</td>
    </tr>
    <tr>
      <td class="align-left">CHINA</td>
      <td>S</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
      <td>XXL</td>
      <td>XXXL</td>
    </tr>
    <tr>
      <td class="align-left">MEXICO</td>
      <td>CH</td>
      <td>M</td>
      <td>G</td>
      <td>EG</td>
      <td>EEG</td>
      <td>EEEG</td>
    </tr>
    <tr>
      <td class="align-left">Cuello / Pecho (cm)</td>
      <td>37 / 103-107</td>
      <td>39 / 109-113</td>
      <td>41 / 115-119</td>
      <td>43 / 122-126</td>
      <td>45 / 130-134</td>
      <td>47 / 138-142</td>
    </tr>
  </tbody>
</table>

<h2 class="size-title">PARTE ABAJO</h2>
<table class="table table-striped" id="table-size">
  <thead>
    <tr>
      <th  colspan="15" class="table-title-static">Pantalón Clásico</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-left">EUROPA</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
      <td>64</td>
    </tr>
    <tr>
      <td class="align-left">UK</td>
      <td>28</td>
      <td>30</td>
      <td>32</td>
      <td>34</td>
      <td>36</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
    </tr>
    <tr>
      <td class="align-left">RUSIA</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
      <td>64</td>
      <td>66</td>
      <td>68</td>
      <td>70</td>
    </tr>
    <tr>
      <td class="align-left">CHINA</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
      <td>64</td>
      <td>66</td>
      <td>68</td>
      <td>70</td>
    </tr>
    <tr>
      <td class="align-left">MEXICO</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
      <td>60</td>
      <td>62</td>
      <td>64</td>
    </tr>
    <tr>
      <td class="align-left">Cintura (cm)</td>
      <td>75-77</td>
      <td>79-81</td>
      <td>83-85</td>
      <td>87-89</td>
      <td>91-83</td>
      <td>95-97</td>
      <td>99-101</td>
      <td>103-105</td>
      <td>107-109</td>
      <td>111-113</td>
      <td>115-117</td>
      <td>119-121</td>
      <td>123-125</td>
      <td>127-129</td>
    </tr>
  </tbody>
</table>

<h2 class="size-title">PANTALÓN DENIM</h2>
<table class="table table-striped" id="table-size">
  <thead>
    <tr>
      <th colspan="15" class="table-title-static">Pantalón Denim</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-left">EUROPA</td>
      <td>38</td>
      <td>39</td>
      <td>40</td>
      <td>41</td>
      <td>42</td>
      <td>43</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
    </tr>
    <tr>
      <td class="align-left">UK</td>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td>31</td>
      <td>32</td>
      <td>33</td>
      <td>34</td>
      <td>36</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
    </tr>
    <tr>
      <td class="align-left">RUSIA</td>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td>31</td>
      <td>32</td>
      <td>33</td>
      <td>34</td>
      <td>36</td>
      <td>38</td>
      <td>40</td>
      <td>42</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
    </tr>
    <tr>
      <td class="align-left">CHINA</td>
      <td>38</td>
      <td>39</td>
      <td>40</td>
      <td>41</td>
      <td>42</td>
      <td>43</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
    </tr>
    <tr>
      <td class="align-left">MEXICO</td>
      <td>38</td>
      <td>39</td>
      <td>40</td>
      <td>41</td>
      <td>42</td>
      <td>43</td>
      <td>44</td>
      <td>46</td>
      <td>48</td>
      <td>50</td>
      <td>52</td>
      <td>54</td>
      <td>56</td>
      <td>58</td>
    </tr>
    <tr>
      <td class="align-left">Cintura (cm)</td>
      <td>75-77</td>
      <td>78</td>
      <td>79-81</td>
      <td>82</td>
      <td>83-85</td>
      <td>86</td>
      <td>87-89</td>
      <td>91-93</td>
      <td>95-97</td>
      <td>99-101</td>
      <td>103-105</td>
      <td>107-109</td>
      <td>111-113</td>
      <td>115-117</td>
    </tr>
  </tbody>
</table>

<h2 class="size-title">SOMBRERO</h2>
<table class="table table-striped" id="table-size">
  <thead>
    <tr>
      <th  colspan="4" class="table-title-static">Sombreros / Gorros</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-left" width="30%">EUROPA</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>

    </tr>
    <tr>
      <td class="align-left"  width="30%">UK</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
    </tr>
    <tr>
      <td class="align-left"  width="30%">RUSIA</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
    </tr>
    <tr>
      <td class="align-left"  width="30%">CHINA</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
    </tr>
    <tr>
      <td class="align-left"  width="30%">MEXICO</td>
      <td>M</td>
      <td>G</td>
      <td>EG</td>
    </tr>
    <tr>
      <td class="align-left"  width="30%">Cabeza (cm)</td>
      <td>58</td>
      <td>59</td>
      <td>60</td>
    </tr>
  </tbody>
</table>

<h2 class="size-title">CINTURÓN</h2>
<table class="table table-striped" id="table-size">
  <thead>
    <tr>
      <th colspan="9" class="table-title-static">Cinturón</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-left">EUROPA</td>
      <td>80</td>
      <td>85</td>
      <td>90</td>
      <td>95</td>
      <td>100</td>
      <td>105</td>
      <td>110</td>
      <td>115</td>
    </tr>
    <tr>
      <td class="align-left">UK</td>
      <td>80</td>
      <td>85</td>
      <td>90</td>
      <td>95</td>
      <td>100</td>
      <td>105</td>
      <td>110</td>
      <td>115</td>
    </tr>
    <tr>
      <td class="align-left">RUSIA</td>
      <td>80</td>
      <td>85</td>
      <td>90</td>
      <td>95</td>
      <td>100</td>
      <td>105</td>
      <td>110</td>
      <td>115</td>
    </tr>
    <tr>
      <td class="align-left">CHINA</td>
      <td>80</td>
      <td>85</td>
      <td>90</td>
      <td>95</td>
      <td>100</td>
      <td>105</td>
      <td>110</td>
      <td>115</td>
    </tr>
    <tr>
      <td class="align-left">MEXICO</td>
      <td>80</td>
      <td>85</td>
      <td>90</td>
      <td>95</td>
      <td>100</td>
      <td>105</td>
      <td>110</td>
      <td>115</td>
    </tr>
    <tr>
      <td class="align-left">Cintura (cm)</td>
      <td>75-85</td>
      <td>80-90</td>
      <td>85-90</td>
      <td>90-100</td>
      <td>95-105</td>
      <td>100-110</td>
      <td>105-115</td>
      <td>110-120</td>
    </tr>
  </tbody>
</table>
</div>
