<div class="container-fluid landing">
  <div class="container">&nbsp;</div>

  <div class="row">
    <div class="col-sm-2">&nbsp;</div>

    <div class="col-sm-8 text-center top-space" id="intro-text"><strong>Aires urbanos y cosmopolitas inspiran la nueva colecci&oacute;n oto&ntilde;o/invierno 2018/2019. Las prendas cl&aacute;sicas se reinventan con nuevos dise&ntilde;os y acabados en un ambiente en el que la ciudad es la protagonista.</strong></div>

    <div class="col-sm-2">&nbsp;</div>

    <div class="col-sm-12 text-center " id="intro-text">
      <div class="shop-now"><a href="/t/nuevo">COMPRAR AHORA</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center less-padding">
      <div class="category h block1"><a href="/t/casualwear"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/5/content_cat1.jpg" alt="categoria"> </a></div>

      <div class="cat-description">
        <h1><a class="cat-home" href="/t/casualwear">CLAVES DE LA TEMPORADA</a></h1>

        <p>Descubre nuestra selecci&oacute;n de imprescindibles</p>
      </div>
    </div>

    <div class="col-sm-4 text-center less-padding">
      <div class="category h block2"><a href="/t/zapatos-y-accesorios"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/15/content_2-Deskop.jpg" alt="categoria"></a></div>

      <div class="cat-description">
        <h1><a class="cat-home" href="/t/zapatos-y-accesorios">COMPLEMENTOS</a></h1>

        <p>Con mucho #estiloflorentino</p>
      </div>
    </div>

    <div class="col-sm-4 text-center less-padding">
      <div class="category h block3"><a href="/t/sastreria/sastrería-a-medida"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/14/content_3-Deskop.jpg" alt="categoria"></a></div>

      <div class="cat-description">
        <h1><a class="cat-home" href="/t/sastreria/sastrería-a-medida">SASTRER&Iacute;A A MEDIDA</a></h1>

        <p>Pasi&oacute;n por los detalles</p>
      </div>
    </div>

    <div class="col-sm-6 text-center less-padding">
      <div class="category w block4"><a href="/t/casualwear/cazadoras-y-parkas"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/17/content_4-Deskop.jpg" alt="categoria 2"> </a></div>

      <div class="cat-description">
        <h1><a class="cat-home" href="/t/casualwear/cazadoras-y-parkas">CAZADORAS ACOLCHADAS</a></h1>

        <p>&iexcl;Prep&aacute;rate para el oto&ntilde;o!</p>
      </div>
    </div>

    <div class="col-sm-6 text-center less-padding">
      <div class="category w block5"><a href="/t/casualwear/abrigos-y-gabardinas"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/18/content_5-Deskop.jpg" alt="categoria 2"></a></div>

      <div class="cat-description">
        <h1><a class="cat-home" href="/t/casualwear/abrigos-y-gabardinas">PRENDAS DE PUNTO</a></h1>

        <p>Para combinar infinidad de looks</p>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid landing">
<div class="container">

</div>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8 text-center top-space" id="intro-text">
<strong>Frescura cosmopolita sin renunciar a la elegancia y sofisticación. Las prendas clásicas se reinventan con tejidos innovadores y cortes más ligeros en un nuevo casual-refinado.</strong>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-12 text-center " id="intro-text">
<div class="shop-now">
<a href="">COMPRAR AHORA</a>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-4 text-center less-padding">
<a href=""><div class="category h block1"></div></a>
<div class="cat-description">
<a href=""><H1>BÁSICOS DE VERANO</H1></a>
<p>Descubre nuestra selección de imprescindibles.</p>
</div>
</div>
<div class="col-sm-4 text-center less-padding">
<a href=""><div class="category h block2"></div></a>
<div class="cat-description">
<a href=""><H1>SUMMER INFORMAL</H1></a>
<p>Encuentra el calzado que estabas buscando.</p>
</div>
</div>
<div class="col-sm-4 text-center less-padding">
<a href=""><div class="category h block3"></div></a>
<div class="cat-description">
<a href=""><H1>GAFAS DE SOL</H1></a>
<p>Estilo aviador, round o con cristal espejo.</p>
</div>
</div>
<div class="col-sm-6 text-center less-padding">
<a href=""><div class="category w block4"></div></a>
<div class="cat-description">
<a href=""><H1>TRAJES DE BAÑO</H1></a>
<p>¡Nos vamos a nadar!</p>
</div>
</div>
<div class="col-sm-6 text-center less-padding">
<a href=""><div class="category w block5"></div></a>
<div class="cat-description">
<a href=""><H1>TRAVEL ESSENTIALS</H1></a>
<p>Accesorios con mucho <strong>#estiloflorentino.</strong></p>
</div>
</div>
</div>
</div>
</div> -->
