<div class="container-fluid" style="padding:0px">
  <div class="row">
    <div class="col-xs-12" style="padding: 0px; margin: 0px 0px 0px 0px;"><img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_31897.jpg" alt="" width="100%"></div>
  </div>

  <div class="row" style="padding-top:60px">
    <div class="col-xs-12 video-editorial" style="padding:0px">
      <video autoplay="" class="video-editorial" controls="" id="video" loop=""><source src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Vi%CC%81deo+final.mp4" type="video/mp4" /> <source src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/FINAL-NAVIDAD-FLORENTINO-WEB.webm" type="video/webm" /></video>
    </div>
  </div>

  <div class="row" style="margin-top:50px; overflow: hidden ;display: flex;align-items: center; justify-content: center;">

  <div class="col-xs-6" style="padding-left: 0px; padding-right: 40px;" >
      <div class="shop-now-editorial">
        <div class="shop-now-text">
          <p><a href="https://www.florentino.com/products/americana-lana-detalle-chaleco-regular-fit-gris-pt-218933-860304-0-406">COMPRAR AHORA</a></p>
        </div>
      </div>
      <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/_MG_9741.jpg" alt="" width="100%">
  </div>

  <div class="col-xs-6" style="padding: 0px 4% 0px 15px;">
      <div class="shop-now-editorial">
        <div class="shop-now-text">
          <p><a href="https://www.florentino.com/products/pantalon-city-cuadros-super-slim-fit-gris-pt-218678-862732-5-206">COMPRAR AHORA</a></p>
        </div>
      </div>
      <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_32022.jpg" alt="" width="100%">
    </div>
  </div>

  <div class="row" style="margin-top:50px; overflow: hidden;">
    <div class="col-xs-6" style="padding-left: 0px;
    padding-right: 40px;    padding-top: 60px; max-height: 1200px;
    overflow: hidden;"">
    <div class="shop-now-editorial">
      <div class="shop-now-text">
        <p><a href="https://www.florentino.com/products/parka-algodon-detalles-regular-fit-azul-marino-pt-218340-860402-0-019">COMPRAR AHORA</a></p>
      </div>
    </div>
    <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_32028.jpg" alt="" width="100%">
  </div>


  <div class="col-xs-6" style="    padding-top: 60px;
  max-height: 1200px;
  overflow: hidden;">
  <div class="shop-now-editorial">
    <div class="shop-now-text">
      <p><a href="https://www.florentino.com/products/camisa-algodon-popelin-microcuadro-regular-fit-bla-pt-218726-860817-0-415">COMPRAR AHORA</a></p>
    </div>
  </div>
  <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_32203_ES.jpg" alt=""
  width="100%">
</div>
  </div>


  <div class="row">

  <div class="col-xs-12 " style="padding: 60px 0px">
    <div class="shop-now-editorial">
      <div class="shop-now-text">
        <p><a href="https://www.florentino.com/products/corbata-seda-motivo-paisley-granate-pt-218105-860223-0-469">COMPRAR AHORA</a></p>
      </div>
    </div>
    <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/_MG_9764.jpg" alt="" width="100%">
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12 " style="padding: 0% 12% 0% 4%">
      <div class="shop-now-editorial" style="padding: 0% 12% 0% 4%">
        <div class="shop-now-text">
          <p><a href="https://www.florentino.com/products/traje-lana-fantasia-slim-fit-gris-pt-218852-860902-5-406">COMPRAR AHORA</a></p>
        </div>
      </div>
      <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_32130.jpg" alt="Traje Lana Fantasía, Slim Fit" width="100%">
    </div>
  </div>

<div class="row"  style="display: flex; align-items: center; justify-content: center; padding: 60px 0px">
    <div class="col-xs-6 ">
      <div class="shop-now-editorial">
        <div class="shop-now-text">
          <p><a href="https://www.florentino.com/products/jersey-cuello-cisne-fantasia-slim-fit-azul-pt-218437-860602-0-418">COMPRAR AHORA</a></p>
        </div>
      </div>
      <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_32068_2.jpg" alt="" width="100%"></div>

      <div class="col-xs-6">
        <div class="shop-now-editorial">
          <div class="shop-now-text">
            <p><a href="https://www.florentino.com/products/americana-pana-slim-fit-marron-pt-218357-863312-0-423">COMPRAR AHORA</a></p>
          </div>
        </div>
        <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_32129.jpg" alt="" width="100%"></div>
      </div>



  <div class="row">
    <div class="col-xs-12" style="padding: 0px 12% 60px 4%;">
    <div class="shop-now-editorial" style="padding: 0px 12% 0% 4%;">
    <div class="shop-now-text">
      <p><a href="https://www.florentino.com/products/pantalon-tejano-super-stone-wash-slim-fit-gris-pt-218553-860705-0-308">COMPRAR AHORA</a></p>
    </div>
  </div>
  <img src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Navidad+2019/Florentino_Navidad18_32115.jpg" alt="" width="100%">
</div>
</div>

<!-- <script>
var vid = document.getElementById("video");
function playVid() {
vid.play();
$(".playVideo").hide();
$(".stopVideo").show();
vid.setAttribute("controls","controls");
}

function pauseVid() {
vid.pause();
$(".stopVideo").hide();
$(".playVideo").show();
video.removeAttribute("controls")
}

$(document).ready(function(){
$(".stopVideo").hide();

});
</script> -->
</div>
