<div class="container-fluid landing">
	<div class="row">
		<div class="col-sm-12 text-center less-padding">
			<div class="category h block1">
				<a href="/signup">
					<img src="https://cdn.florentino.com/ckeditor_assets/pictures/415/content_rebajas-privadas-es.png" alt="rebajas privadas">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-12 " id="intro-text">
			<div class="shop-now"><a href="/signup">&nbsp;&nbsp;&nbsp;#PORSERTU&nbsp;&nbsp;&nbsp;</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center less-padding">
			<div class="category h block1">
				<a href="/signup">
					<img src="https://cdn.florentino.com/ckeditor_assets/pictures/413/content_rebajas-es.png" alt="rebajas">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-12 text-center " id="intro-text">
			<div class="shop-now"><a href="/signup">COMPRAR AHORA</a></div>
		</div>
	</div>

</div>

<div class="container-fluid landing">
	<div class="row">
		<div class="col-sm-12 text-center less-padding">
			<div class="category h block1">
				<a href="/signup">
					<img src="https://cdn.florentino.com/ckeditor_assets/pictures/417/content_private-sales-en.png" alt="private-sales">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-12 " id="intro-text">
			<div class="shop-now"><a href="/signup">&nbsp;&nbsp;&nbsp;#PORSERTU&nbsp;&nbsp;&nbsp;</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center less-padding">
			<div class="category h block1">
				<a href="/signup">
					<img src="https://cdn.florentino.com/ckeditor_assets/pictures/416/content_sales-en.png" alt="sales">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-12 text-center " id="intro-text">
			<div class="shop-now"><a href="/signup">SHOP NOW</a></div>
		</div>
	</div>

</div>