<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
                <h1>BESPOKE TAILORING</h1>
                <p>There are few things in life more elegant than a tailored suit, with our bespoke tailoring service you can experience the authentic luxury of craftsmanship adapted to your tastes and desires.</p>
        </div>
        <div class="col-sm-6 vertical-margin">
                <img src="https://s3.amazonaws.com/florentino-staging/ckeditor_assets/pictures/1/content_Sastreria1.jpg" alt=""
                width="100%">
        </div>
        <div class="col-sm-6 vertical-margin">
                <img src="https://s3.amazonaws.com/florentino-staging/ckeditor_assets/pictures/2/content_Sastreria2.jpg" alt=""
                width="100%">
        </div>
        <div class="col-sm-12">
                <h1>REACH EXCLUSIVITY</h1>

                <p class="justify">We bet on differentiation through the quality of the raw material, the exquisite confection and the great attention to details. </p>

                <p class="justify">The service is available exclusively in Florentino stores, where you will be attended by highly qualified personnel and will have at their disposal a wide range of high quality fabrics.</p>

                <p class="justify">In addition to the suits, we can also tailoring a blazer, trousers and shirts.
                </p>

                <video width="100%" height="auto" controls class="vertical-margin">
                  <source src="movie.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                  t(:navigation)
                </video>
                <div class="text-center">
                      <h1>OUR PRODUCTION PROCESS</h1>

                      <p>Enjoy the garment you've always wanted within 15 days of taking measurements</p>

                      <p>1. Initial consultation at Florentino store with a tailor's expert who takes the measurements and advises on the design and the available fabrics</p>

                      <p>2. First suit fitting to make the necessary adjustments.</p>

                      <p>3. Final dress fitting and pick up of the order. </p>

                      <p>*disponible en tiendas Florentino no outlet ni centros ECI.</p>

                      <button type="button" name="button" class="boton-servicios vertical-margin">SOLICITAR EL SERVICIO</button>
                </div>



        </div>
    </div>
</div>
