<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
                <h1>SASTRERÍA A MEDIDA</h1>
                <p>Hay pocas cosas en la vida más elegante que un traje a medida, con nuestro servicio de sastrería personalizada podrás experimentar el auténtico lujo de la artesanía adaptada a tus gustos y deseos.</p>
        </div>
        <div class="col-sm-6 vertical-margin">
                <img src="https://s3.amazonaws.com/florentino-staging/ckeditor_assets/pictures/1/content_Sastreria1.jpg" alt=""
                width="100%">
        </div>
        <div class="col-sm-6 vertical-margin">
                <img src="https://s3.amazonaws.com/florentino-staging/ckeditor_assets/pictures/2/content_Sastreria2.jpg" alt=""
                width="100%">
        </div>
        <div class="col-sm-12">
                <h1>ALCANZA LA EXCLUSIVIDAD</h1>

                <p class="justify">Apostamos por la diferenciación a través de la calidad de la materia prima, la exquisita confección y una gran atención a los detalles.</p>

                <p class="justify">El servicio de sastrería a medida está disponible de manera exclusiva en todas las tiendas Florentino*, donde serás atendido por personal altamente cualificado y tendrás a su disposición una amplia gama de tejidos de máxima calidad.</p>

                <p class="justify">Además de trajes, también ofrecemos la posibilidad de realizar a medida americanas, pantalones o camisas.</p>

                <video width="100%" height="auto" controls class="vertical-margin">
                  <source src="movie.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                  t(:navigation)
                </video>
                <div class="text-center">
                      <h1>NUESTRO PROCESO DE ELABORACIÓN</h1>

                      <p>Disfruta de la prensa que siempre has deseado en un plazo de 15 días desde la toma de medidas.</p>

                      <p>1. Consulta inicial en tienda Florentino con un experto en sastrería, que te tomará las medidas y te aconsejará sobre el diseño y lo tejidos disponibles.</p>

                      <p>2.  Primera prueba de la prenda con el fin de realizar los ajustes necesarios para que quede perfecta.</p>

                      <p>3. Prueba definitiva y recogida del encargo.</p>

                      <p>*disponible en tiendas Florentino no outlet ni centros ECI.</p>

                      <button type="button" name="button" class="boton-servicios vertical-margin">SOLICITAR EL SERVICIO</button>
                </div>



        </div>
    </div>
</div>
