<div class="slick-slider slick-slider--hero" id="js-hero-slider">
  <div class="slick-slider--hero__item slide-scroll-1" style="background-image: url('https://cdn.florentino.com/ckeditor_assets/pictures/245/content_slider1-sin-text.jpg');">
    <div id="video-shadow">
      <h3>COLECCIÓN HOMBRE</h3>
      <h1 class="h1">Men In The City</h1>
      <h3><a href="#" tabindex="-1">DESCUBRE MÁS</a></h3>
    </div>
  </div>

  <div class="slick-slider--hero__item slide-scroll-1" style="background-image: url('https://cdn.florentino.com/ckeditor_assets/pictures/244/content_slider2-sin-text.jpg');">
    <div id="video-shadow">
      <h3>COLECCIÓN HOMBRE</h3>
      <h1 class="h1">Men In The City</h1>
      <h3><a href="#" tabindex="-1">DESCUBRE MÁS</a></h3>
    </div>
  </div>

  <div class="slick-slider--hero__item slide-scroll-1" style="background-image: url('https://cdn.florentino.com/ckeditor_assets/pictures/243/content_slider3-sin-text.jpg');">
    <div id="video-shadow">
      <h3>COLECCIÓN HOMBRE</h3>
      <h1 class="h1">Men In The City</h1>
      <h3><a href="#" tabindex="-1">DESCUBRE MÁS</a></h3>
    </div>
  </div>
</div>
