<section>
<div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header"><h4 class="modal-title" id="myModalLabel">GU&Iacute;A DE TALLAS / SIZE GUIDE / GUIDA ALLE TAGLIE</h4><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
<h5><a href="/guia-de-tallas">¿Cómo medirse? Aprende a medirte correctamente</a></h5>
</div>

<div class="modal-body">

<div id="exTab1" class="">

  <ul  class="nav nav-pills">
    <li class="active"><a  href="#1a" data-toggle="tab">PARTES DE ARRIBA</a></li>
    <li><a href="#2a" data-toggle="tab">CAMISA</a></li>
    <li><a href="#3a" data-toggle="tab">PARTE DE ABAJO</a></li>
    <li><a href="#4a" data-toggle="tab">SOMBRERO</a></li>
    <li><a href="#5a" data-toggle="tab">CINTURÓN</a></li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
      <h2 class="title-mobile">Trajes / Cazadoras / Americanas</h2>

      <div class="table-wrap">
        <table class="table table-striped" id="table-size">
          <thead>
            <tr>
              <th  colspan="11" class="table-title">Trajes / Cazadoras / Americanas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">EUROPA</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
              <td>64</td>

            </tr>
            <tr>
              <td class="align-left">UK</td>
              <td>36</td>
              <td>38</td>
              <td>40</td>
              <td>42</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
            </tr>
            <tr>
              <td class="align-left">RUSIA</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
            </tr>
            <tr>
              <td class="align-left">CHINA</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
              <td>64</td>
            </tr>
            <tr>
              <td class="align-left">MEXICO</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
              <td>64</td>
            </tr>
            <tr>
              <td class="align-left">Pecho (cm)</td>
              <td>91-93</td>
              <td>95-97</td>
              <td>99-101</td>
              <td>103-105</td>
              <td>107-109</td>
              <td>111-113</td>
              <td>115-117</td>
              <td>119-121</td>
              <td>123-125</td>
              <td>127-129</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="tab-pane" id="2a">

      <h2 class="title-mobile">Camisas Vestir / Camisas Casual</h2>

      <div class="table-wrap">
        <table class="table table-striped" id="table-size">
          <thead>
            <tr>
              <th  colspan="7" class="table-title">Camisas Vestir / Camisas Casual</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">EUROPA</td>
              <td>S</td>
              <td>M</td>
              <td>L</td>
              <td>XL</td>
              <td>XXL</td>
              <td>XXXL</td>
            </tr>
            <tr>
              <td class="align-left">UK</td>
              <td>S</td>
              <td>M</td>
              <td>L</td>
              <td>XL</td>
              <td>XXL</td>
              <td>XXXL</td>
            </tr>
            <tr>
              <td class="align-left">RUSIA</td>
              <td>S</td>
              <td>M</td>
              <td>L</td>
              <td>XL</td>
              <td>XXL</td>
              <td>XXXL</td>
            </tr>
            <tr>
              <td class="align-left">CHINA</td>
              <td>S</td>
              <td>M</td>
              <td>L</td>
              <td>XL</td>
              <td>XXL</td>
              <td>XXXL</td>
            </tr>
            <tr>
              <td class="align-left">MEXICO</td>
              <td>CH</td>
              <td>M</td>
              <td>G</td>
              <td>EG</td>
              <td>EEG</td>
              <td>EEEG</td>
            </tr>
            <tr>
              <td class="align-left">Cuello / Pecho (cm)</td>
              <td>37 / 103-107</td>
              <td>39 / 109-113</td>
              <td>41 / 115-119</td>
              <td>43 / 122-126</td>
              <td>45 / 130-134</td>
              <td>47 / 138-142</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <div class="tab-pane" id="3a">
      <h2 class="title-mobile">Pantalón Clásico</h2>

      <div class="table-wrap">
        <table class="table table-striped" id="table-size">
          <thead>
            <tr>
              <th  colspan="15" class="table-title">Pantalón Clásico</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">EUROPA</td>
              <td>38</td>
              <td>40</td>
              <td>42</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
              <td>64</td>
            </tr>
            <tr>
              <td class="align-left">UK</td>
              <td>28</td>
              <td>30</td>
              <td>32</td>
              <td>34</td>
              <td>36</td>
              <td>38</td>
              <td>40</td>
              <td>42</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
            </tr>
            <tr>
              <td class="align-left">RUSIA</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
              <td>64</td>
              <td>66</td>
              <td>68</td>
              <td>70</td>
            </tr>
            <tr>
              <td class="align-left">CHINA</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
              <td>64</td>
              <td>66</td>
              <td>68</td>
              <td>70</td>
            </tr>
            <tr>
              <td class="align-left">MEXICO</td>
              <td>38</td>
              <td>40</td>
              <td>42</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
              <td>60</td>
              <td>62</td>
              <td>64</td>
            </tr>
            <tr>
              <td class="align-left">Cintura (cm)</td>
              <td>75-77</td>
              <td>79-81</td>
              <td>83-85</td>
              <td>87-89</td>
              <td>91-83</td>
              <td>95-97</td>
              <td>99-101</td>
              <td>103-105</td>
              <td>107-109</td>
              <td>111-113</td>
              <td>115-117</td>
              <td>119-121</td>
              <td>123-125</td>
              <td>127-129</td>
            </tr>
          </tbody>
        </table>
      </div>



      <h2 class="title-mobile">Pantalón Denim</h2>

      <div class="table-wrap">
        <table class="table table-striped" id="table-size">
          <thead>
            <tr>
              <th  colspan="15" class="table-title">Pantalón Denim</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">EUROPA</td>
              <td>38</td>
              <td>39</td>
              <td>40</td>
              <td>41</td>
              <td>42</td>
              <td>43</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
            </tr>
            <tr>
              <td class="align-left">UK</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td>32</td>
              <td>33</td>
              <td>34</td>
              <td>36</td>
              <td>38</td>
              <td>40</td>
              <td>42</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
            </tr>
            <tr>
              <td class="align-left">RUSIA</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td>32</td>
              <td>33</td>
              <td>34</td>
              <td>36</td>
              <td>38</td>
              <td>40</td>
              <td>42</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
            </tr>
            <tr>
              <td class="align-left">CHINA</td>
              <td>38</td>
              <td>39</td>
              <td>40</td>
              <td>41</td>
              <td>42</td>
              <td>43</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
            </tr>
            <tr>
              <td class="align-left">MEXICO</td>
              <td>38</td>
              <td>39</td>
              <td>40</td>
              <td>41</td>
              <td>42</td>
              <td>43</td>
              <td>44</td>
              <td>46</td>
              <td>48</td>
              <td>50</td>
              <td>52</td>
              <td>54</td>
              <td>56</td>
              <td>58</td>
            </tr>
            <tr>
              <td class="align-left">Cintura (cm)</td>
              <td>75-77</td>
              <td>78</td>
              <td>79-81</td>
              <td>82</td>
              <td>83-85</td>
              <td>86</td>
              <td>87-89</td>
              <td>91-93</td>
              <td>95-97</td>
              <td>99-101</td>
              <td>103-105</td>
              <td>107-109</td>
              <td>111-113</td>
              <td>115-117</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="tab-pane" id="4a">
      <h2 class="title-mobile">Sombreros / Gorros</h2>

                  <div class="table-wrap">
                    <table class="table table-striped" id="table-size">
                      <thead>
                        <tr>
                          <th  colspan="15" class="table-title">Sombreros / Gorros</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-left" width="30%">EUROPA</td>
                          <td>M</td>
                          <td>L</td>
                          <td>XL</td>

                        </tr>
                        <tr>
                          <td class="align-left"  width="30%">UK</td>
                          <td>M</td>
                          <td>L</td>
                          <td>XL</td>
                        </tr>
                        <tr>
                          <td class="align-left"  width="30%">RUSIA</td>
                          <td>M</td>
                          <td>L</td>
                          <td>XL</td>
                        </tr>
                        <tr>
                          <td class="align-left"  width="30%">CHINA</td>
                          <td>M</td>
                          <td>L</td>
                          <td>XL</td>
                        </tr>
                        <tr>
                          <td class="align-left"  width="30%">MEXICO</td>
                          <td>M</td>
                          <td>G</td>
                          <td>EG</td>
                        </tr>
                        <tr>
                          <td class="align-left"  width="30%">Cabeza (cm)</td>
                          <td>58</td>
                          <td>59</td>
                          <td>60</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
    </div>


    <div class="tab-pane" id="5a">

      <h2 class="title-mobile">Cinturón</h2>

                  <div class="table-wrap">
                    <table class="table table-striped" id="table-size">
                      <thead>
                        <tr>
                          <th  colspan="15" class="table-title">Cinturón</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-left">EUROPA</td>
                          <td>80</td>
                          <td>85</td>
                          <td>90</td>
                          <td>95</td>
                          <td>100</td>
                          <td>105</td>
                          <td>110</td>
                          <td>115</td>
                        </tr>
                        <tr>
                          <td class="align-left">UK</td>
                          <td>80</td>
                          <td>85</td>
                          <td>90</td>
                          <td>95</td>
                          <td>100</td>
                          <td>105</td>
                          <td>110</td>
                          <td>115</td>
                        </tr>
                        <tr>
                          <td class="align-left">RUSIA</td>
                          <td>80</td>
                          <td>85</td>
                          <td>90</td>
                          <td>95</td>
                          <td>100</td>
                          <td>105</td>
                          <td>110</td>
                          <td>115</td>
                        </tr>
                        <tr>
                          <td class="align-left">CHINA</td>
                          <td>80</td>
                          <td>85</td>
                          <td>90</td>
                          <td>95</td>
                          <td>100</td>
                          <td>105</td>
                          <td>110</td>
                          <td>115</td>
                        </tr>
                        <tr>
                          <td class="align-left">MEXICO</td>
                          <td>80</td>
                          <td>85</td>
                          <td>90</td>
                          <td>95</td>
                          <td>100</td>
                          <td>105</td>
                          <td>110</td>
                          <td>115</td>
                        </tr>
                        <tr>
                          <td class="align-left">Cintura (cm)</td>
                          <td>75-85</td>
                          <td>80-90</td>
                          <td>85-90</td>
                          <td>90-100</td>
                          <td>95-105</td>
                          <td>100-110</td>
                          <td>105-115</td>
                          <td>110-120</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
    </div>
  </div><!--fin tab content-->
</div><!--fin container-->
</div>
</div>
</div>
</div>
</section>
