<div id='page_sidebar_navigation' class='col-md-2 col-lg-2 hidden-xs hidden-sm' data-hook='page_sidebar_navigation'>
  <ul id='sidebar-menu'>
    <li><a href="/mundo-florentino/historia-de-la-marca">HISTORIA DE LA MARCA</a></li>
    <li><a href="/mundo-florentino/hecho-en-espana">HECHO EN ESPAÑA</a></li>
    <li><a href="/mundo-florentino/corporativo">CORPORATIVA</a></li>
    <li><a href="/mundo-florentino/hemeroteca">HEMEROTECA</a></li>
  </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-11 col-md-offset-2 col-lg-offset-2">
  <div class="row static">
    <div class="col-sm-10 corporative">
      <p>En este apartado puede descargar la información corporativa de FLORENTINO. Si no encuentra lo que busca, por favor, no dude en ponerse en contacto con el Departamento de Comunicación – <strong>prensa@florentino.com</strong> – e intentaremos ayudarle lo antes posible.</p>

      <h1 class="text-left">LOGOTIPO</h1>
      <p>Puede descargar nuestro logotipo en el siguiente enlace:</p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DESCARGAR</button>

      <h1 class="text-left">FLORENTINO CACHEDA</h1>
      <p>Puede descargar la fotografía de Florentino Cacheda en el siguiente enlace:</p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DESCARGAR IMAGEN</button>

      <h1 class="text-left">COMPANY PROFILE</h1>
      <p>Puede descargar nuestro perfil de empresa en el siguiente enlace:</p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DESCARGAR EN PDF</button>

      <h1 class="text-left">ESTRATEGIA DE PROMOCIÓN E INTERNACIONALIZACIÓN</h1>
      <p>Puede descargar nuestro Plan Estratéxico do Téxtil en el siguiente enlace:</p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DESCARGAR EN PDF</button>
    </div>
  </div>
</div>
