<div id='page_sidebar_navigation' class='col-md-2 col-lg-2 hidden-xs hidden-sm' data-hook='page_sidebar_navigation'>
  <ul id='sidebar-menu'>
    <li><a href="/en/mundo-florentino/brand-history">BRAND HISTORY</a></li>
    <li><a href="/en/mundo-florentino/made-in-spain">MADE IN SPAIN</a></li>
    <li><a href="/en/mundo-florentino/corporate">CORPORATE</a></li>
    <li><a href="/en/mundo-florentino/hemeroteca">HEMEROTECA</a></li>
  </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-11 col-md-offset-2 col-lg-offset-2">
  <div class="row static">
    <div class="col-sm-10 corporative">
      <p>From here you can download Florentino corporate information. If you can not find what you are looking for, please, contact with communications department – <strong>prensa@florentino.com</strong> – and we will try to help you as soon as posible.</p>

      <h1 class="text-left">FLORENTINO LOGO</h1>
      <p>Download our logo on the following link: </p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DOWNLOAD</button>

      <h1 class="text-left">MR. FLORENTINO CACHEDA - CORPORATE PHOTO</h1>
      <p>Download on the following link: </p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DOWNLOAD</button>

      <h1 class="text-left">COMPANY PROFILE</h1>
      <p>Download our company profile on the following link:</p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DOWNLOAD PDF</button>

      <h1 class="text-left">ESTRATEGIA DE PROMOCIÓN E INTERNACIONALIZACIÓN</h1>
      <p>Download our Plan Estratéxico do Téxtil visión 2020 on the following link: </p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DOWNLOAD PDF</button>
    </div>
  </div>
</div>
