<div id='page_sidebar_navigation' class='col-md-2 col-lg-2 hidden-xs hidden-sm' data-hook='page_sidebar_navigation'>
  <ul id='sidebar-menu'>
    <li><a href="/mundo-florentino/historia-de-la-marca">HISTORIA DE LA MARCA</a></li>
    <li><a href="/mundo-florentino/hecho-en-espana">HECHO EN ESPAÑA</a></li>
    <li><a href="/mundo-florentino/corporativo">CORPORATIVA</a></li>
    <li><a href="/mundo-florentino/hemeroteca">HEMEROTECA</a></li>
  </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-11 col-md-offset-2 col-lg-offset-2">
  <div class="row static">
    <div class="col-sm-10">
      <h1 class="text-left">NUESTRAS INSTALACIONES</h1>
      <p>El centro de calidad está dotado de tecnologías innovadoras y de automatización, incluído un sistema de transporte que permite producir y distribuir más de un millón de prendas al año en todo el mundo. El GRUPO FLORENTINO consituye hoy en día una dinámica empresa que emplea a más de 500 personas directa e indirectamente. Tradición, experiencia, tecnología, calidad y servicio excelente son los pilares que continúa aplicando su creador y fundador, Florentino Cacheda.</p>

      <p>La firma FLORENTINO es producida en su totalidad por el grupo empresarial español FLORENTINO COLECCIÓN, para ello cuenta con una estructura de producción, diseño y calidad firmemente consolidada, con varias naves industriales que reúnen un total de unos 35.000m2, además de un centro logísitico de más de 15.000 m2 que permite a la compañía mejorar su servicio.</p>

      <h1 class="text-left">DOSSIER DE INSTALACIONES</h1>
      <p>Puede descargar nuestro dossier de instalaciones en el siguiente enlace:</p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DOWNLOAD PDF</button>
    </div>

    <div class="col-sm-6 vertical-margin">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/32/content_about2.jpg" alt=""
      width="100%">
    </div>
    <div class="col-sm-6 vertical-margin">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/31/content_about1.jpg" alt=""
      width="100%">
    </div>
  </div>
</div>
