<div id='page_sidebar_navigation' class='col-md-2 col-lg-2 hidden-xs hidden-sm' data-hook='page_sidebar_navigation'>
  <ul id='sidebar-menu'>
    <li><a href="/en/mundo-florentino/brand-history">BRAND HISTORY</a></li>
    <li><a href="/en/mundo-florentino/made-in-spain">MADE IN SPAIN</a></li>
    <li><a href="/en/mundo-florentino/corporate">CORPORATE</a></li>
    <li><a href="/en/mundo-florentino/hemeroteca">HEMEROTECA</a></li>
  </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-11 col-md-offset-2 col-lg-offset-2">
  <div class="row static">
    <div class="col-sm-10">
      <h1 class="text-left">OUR FACILITIES</h1>
      <p>The quality centre is equipped with innovative technologies and automation, including the transport system, that permits to produce and distribute more than one million garments each year all around the world. Nowadays, the Florentino Group is a dynamic company employing over 500 people directly and indirectly. Tradition, experience, technology, quality and excellent service are the features continuously applied by the creative director and founder, Florentino Cacheda.</p>

      <p>The brand FLORENTINO is completely produced by the Spanish group Florentino Colección, with a production, quality and design structure firmly consolidated, with several industrial premises with a total of 35,000 m², and a logistics centre of 15,000 m² that allows the company to improve its service.A special attention to design and the very highest quality fabrics emphasize the work behind each collection.</p>

      <h1 class="text-left">FACILITIES DOSSIER</h1>
      <p>Download our facilities dossier on the following link:</p>
      <button type="button" name="button" class="boton-servicios vertical-margin">DOWNLOAD PDF</button>
    </div>

    <div class="col-sm-6 vertical-margin">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/32/content_about2.jpg" alt=""
      width="100%">
    </div>
    <div class="col-sm-6 vertical-margin">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/31/content_about1.jpg" alt=""
      width="100%">
    </div>
  </div>
</div>
