<div id='page_sidebar_navigation' class='col-md-2 col-lg-2 hidden-xs hidden-sm' data-hook='page_sidebar_navigation'>
  <ul id='sidebar-menu'>
    <li><a href="/en/mundo-florentino/brand-history">BRAND HISTORY</a></li>
    <li><a href="/en/mundo-florentino/made-in-spain">MADE IN SPAIN</a></li>
    <li><a href="/en/mundo-florentino/corporate">CORPORATE</a></li>
    <li><a href="/en/mundo-florentino/hemeroteca">HEMEROTECA</a></li>
  </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-11 col-md-offset-2 col-lg-offset-2">
  <div class="row static">
    <div class="col-sm-10">
      <h1 class="text-left">SINCE 1963</h1>
      <p>Founded in 1963, FLORENTINO is a brand of reference with an important international presence in the menswear fashion business. It has been created as a company combining design and manufacturing, based on the idea that the combination of both concepts will lead the right way to progress and the overall development of the company.</p>

      <p>Half a century later, FLORENTINO offers clothing for the men with a clearly defined style that combines modernity and tradition, which is recognizable for the quality, innovatio and excellence in the creation of each of its products.</p>

      <p>What the company Florentino is able to contribute as philosophy and the way of doing, is based on a sense of rigour, willingness and work.:<br / />
        <i>“To succeed you need an industry capable of producing, selling and distributing the product with certainty and agility, by this way you build a symbiosis, where the designer needs the company and the company needs the designer.” - Florentino Cacheda.</i></p>

        <h1 class="text-left">COMPANY PROFILE</h1>
        <p>Download our company profile on the following link:</p>
        <button type="button" name="button" class="boton-servicios vertical-margin">DOWNLOAD PDF</button>
      </div>

      <div class="col-sm-6 vertical-margin">
              <img src="https://cdn.florentino.com/ckeditor_assets/pictures/34/content_historia-1.jpg" alt=""
              width="100%">
      </div>
      <div class="col-sm-6 vertical-margin">
              <img src="https://cdn.florentino.com/ckeditor_assets/pictures/33/content_historia-2.jpg" alt=""
              width="100%">
      </div>

    </div>
</div>
