<div id='page_sidebar_navigation' class='col-md-2 col-lg-2 hidden-xs hidden-sm' data-hook='page_sidebar_navigation'>
  <ul id='sidebar-menu'>
    <li><a href="/mundo-florentino/historia-de-la-marca">HISTORIA DE LA MARCA</a></li>
    <li><a href="/mundo-florentino/hecho-en-espana">HECHO EN ESPAÑA</a></li>
    <li><a href="/mundo-florentino/corporativo">CORPORATIVA</a></li>
    <li><a href="/mundo-florentino/hemeroteca">HEMEROTECA</a></li>
  </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-11 col-md-offset-2 col-lg-offset-2">
    <div class="row static">
        <div class="col-sm-10">
                <h1 class="text-left">DESDE 1963</h1>
                <p>Fundada en 1963, FLORENTINO es en la actualidad una marca de referencia consolidada en el sector de la moda masculina a nivel internacional, que ha sido capaz de conjugar diseño y fabricación, basándose en la idea de que la combinación entre ambos conceptos marca el rumbo adecuado para el progreso y el desarrollo global de la compañía.</p>

                <p>Tradición, experiencia, tecnología, calidad y servicio excelente son las claves que sustentan el GRUPO FLORENTINO desde sus inicios.</p>

                <p>Nuestra filosofía y forma de hacer está fundamentada en un sentido de rigor, voluntad y trabajo:<br / />
                <i>“Para triunfar se necesita de una industria capaz de producir, vender y distribuir con certeza y agilidad el producto, así se construye una simbiosis donde el diseñador necesita de la empresa y la empresa necesita del diseñador.” - Florentino Cacheda.</i></p>

                <div>
                  <h1 class="text-left">COMPANY PROFILE</h1>
                  <p>Puede descargar nuestro perfil de empresa en el siguiente enlace:</p>
                  <button type="button" name="button" class="boton-servicios vertical-margin">DESCARGAR EN PDF</button>
                </div>

        </div>

        <div class="col-sm-6 vertical-margin">
                <img src="https://cdn.florentino.com/ckeditor_assets/pictures/34/content_historia-1.jpg" alt=""
                width="100%">
        </div>
        <div class="col-sm-6 vertical-margin">
                <img src="https://cdn.florentino.com/ckeditor_assets/pictures/33/content_historia-2.jpg" alt=""
                width="100%">
        </div>
</div>

</div>
