<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="col-sm-12" style="padding: 0px; margin: 0px 0px 0px 0px;">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/256/content_ceremonia1.jpg" alt="" width="100%">
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-sm-12 padding-col-static">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/257/content_ceremonia2.jpg" alt="" width="100%">
    </div>

    <div class="col-sm-12 padding-col-static">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/252/content_ceremonia3.jpg" alt=""
      width="100%">
    </div>

    <div class="col-sm-12 padding-col-static">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/253/content_ceremonia6.jpg" alt="" width="100%">
    </div>

    <div class="col-sm-12 padding-col-static">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/251/content_ceremonia7.jpg" alt="" width="100%">
    </div>

    <div class="col-sm-12 padding-col-static">
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/247/content_ceremonia8.jpg" alt=""
      width="100%"></div>

      <div class="col-sm-12 padding-col-static">
        <img src="https://cdn.florentino.com/ckeditor_assets/pictures/249/content_ceremonia11.jpg" alt="" width="100%">
      </div>

  </div>

</div>

<div class="container-fluid" style="padding: 0px;">

      <div class="row">
        <div class="col-sm-12 padding-col-static" style="margin-bottom: 60px">
          <img src="https://cdn.florentino.com/ckeditor_assets/pictures/248/content_ceremonia12.jpg" alt="" width="100%">
        </div>
      </div>

</div>
