<div class="container-fluid" style="padding:0px">
  <div class="row">
    <div class="col-sm-12" style="padding: 0px; margin: 0px 0px 0px 0px;"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/279/content_1.jpg" alt="" width="100%"></div>
  </div>
</div>

<div class="container-fluid" style="padding:0px">

  <div class="row">
    <div class="col-sm-12 video-editorial padding-col-static">
          <div class="video-button">
            <a class="playVideo" onclick="playVid()"><i class="fa fa-play" style="font-size: 40px"></i></a>
            <p class="playVideo">Whatch the film</p>
          </div>
          <video id="video" class="video-editorial" poster="https://cdn.florentino.com/ckeditor_assets/pictures/29/content_video-back.jpg">
            <source src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Man+in+the+city/1080.mp4" type="video/mp4">
            <source src="https://s3.amazonaws.com/tobe-products/Florentino/Videos/Man+in+the+city/1080.webm" type="video/webm">
          </video>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 padding-col-static">
      <div class="shop-now-editorial">
        <div class="shop-now-text">
          <p><a href="#">SHOP NOW</a></p>
        </div>
      </div>
      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/278/content_2.jpg" alt="" width="100%">
    </div>
  </div>

    <div class="row">
      <div class="col-xs-6 padding-col-static">
        <div class="shop-now-editorial">
          <div class="shop-now-text">
            <p><a href="#">SHOP NOW</a></p>
          </div>
        </div>
        <img src="https://cdn.florentino.com/ckeditor_assets/pictures/280/content_3a.jpg" alt="" width="100%">
      </div>

        <div class="col-xs-6 padding-col-static">
          <div class="shop-now-editorial">
            <div class="shop-now-text">
              <p><a href="#">SHOP NOW</a></p>
            </div>
          </div>
          <img src="https://cdn.florentino.com/ckeditor_assets/pictures/276/content_3b.jpg" alt="" width="100%">
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12 padding-col-static">
        <div class="shop-now-editorial">
          <div class="shop-now-text">
            <p><a href="#">SHOP NOW</a></p>
          </div>
        </div>
        <img src="https://cdn.florentino.com/ckeditor_assets/pictures/275/content_4.jpg" alt=""
        width="100%">
      </div>
    </div>

        <div class="row">

            <div class="col-xs-6 padding-col-static">
              <div class="shop-now-editorial">
                <div class="shop-now-text">
                  <p><a href="#">SHOP NOW</a></p>
                </div>
              </div>
              <img src="https://cdn.florentino.com/ckeditor_assets/pictures/274/content_5a.jpg" alt="" width="100%">
            </div>

              <div class="col-xs-6 padding-col-static">
                <div class="shop-now-editorial">
                  <div class="shop-now-text">
                    <p><a href="#">SHOP NOW</a></p>
                  </div>
                </div>
                <img src="https://cdn.florentino.com/ckeditor_assets/pictures/271/content_5b.jpg" alt="" width="100%">
              </div>

        </div>

        <div class="row">
                <div class="col-sm-12 padding-col-static">
                  <div class="shop-now-editorial">
                    <div class="shop-now-text">
                      <p><a href="#">SHOP NOW</a></p>
                    </div>
                  </div>
                  <img src="https://cdn.florentino.com/ckeditor_assets/pictures/270/content_6.jpg" alt="" width="100%"></div>

                  <div class="col-sm-12 padding-col-static">
                    <div class="shop-now-editorial">
                      <div class="shop-now-text">
                        <p><a href="#">SHOP NOW</a></p>
                      </div>
                    </div>
                    <img src="https://cdn.florentino.com/ckeditor_assets/pictures/269/content_7.jpg" alt="" width="100%">
                  </div>
        </div>

        <div class="row">
              <div class="col-xs-6 padding-col-static">
                <div class="shop-now-editorial">
                  <div class="shop-now-text">
                    <p><a href="#">SHOP NOW</a></p>
                  </div>
                </div>
                <img src="https://cdn.florentino.com/ckeditor_assets/pictures/268/content_8a.jpg" alt="" width="100%">
              </div>

                <div class="col-xs-6 padding-col-static">
                  <div class="shop-now-editorial">
                    <div class="shop-now-text">
                      <p><a href="#">SHOP NOW</a></p>
                    </div>
                  </div>
                  <img src="https://cdn.florentino.com/ckeditor_assets/pictures/267/content_8b.jpg" alt="" width="100%">
                </div>
        </div>

        <div class="row">
          <div class="col-sm-12 padding-col-static">
            <div class="shop-now-editorial">
              <div class="shop-now-text">
                <p><a href="#">SHOP NOW</a></p>
              </div>
            </div>
            <img src="https://cdn.florentino.com/ckeditor_assets/pictures/265/content_9.jpg" alt=""
            width="100%"></div>
          </div>

          <div class="row">
            <div class="col-xs-6 padding-col-static">
              <div class="shop-now-editorial">
                <div class="shop-now-text">
                  <p><a href="#">SHOP NOW</a></p>
                </div>
              </div>
              <img src="https://cdn.florentino.com/ckeditor_assets/pictures/266/content_10a.jpg" alt="" width="100%"></div>

              <div class="col-xs-6 padding-col-static">
                <div class="shop-now-editorial">
                  <div class="shop-now-text">
                    <p><a href="#">SHOP NOW</a></p>
                  </div>
                </div>
                <img src="https://cdn.florentino.com/ckeditor_assets/pictures/264/content_10b.jpg" alt="" width="100%"></div>
              </div>

              <div class="row">
                <div class="col-sm-12 padding-col-static">
                  <div class="shop-now-editorial">
                    <div class="shop-now-text">
                      <p><a href="#">SHOP NOW</a></p>
                    </div>
                  </div>
                  <img src="https://cdn.florentino.com/ckeditor_assets/pictures/262/content_11.jpg" alt="" width="100%"></div>
                </div>

                <div class="row">
                  <div class="col-xs-6 padding-col-static">
                    <div class="shop-now-editorial">
                      <div class="shop-now-text">
                        <p><a href="#">SHOP NOW</a></p>
                      </div>
                    </div>
                    <img src="https://cdn.florentino.com/ckeditor_assets/pictures/261/content_12a.jpg" alt="" width="100%"></div>

                    <div class="col-xs-6 padding-col-static">
                      <div class="shop-now-editorial">
                        <div class="shop-now-text">
                          <p><a href="#">SHOP NOW</a></p>
                        </div>
                      </div>
                      <img src="https://cdn.florentino.com/ckeditor_assets/pictures/258/content_12b.jpg" alt="" width="100%"></div>
                    </div>
                  </div>


            <div class="container-fluid " style="padding:0px 0px 40px 0px">
              <div class="row">
                <div class="col-sm-12 padding-col-static">
                  <div class="shop-now-editorial">
                    <div class="shop-now-text">
                      <p><a href="#">SHOP NOW</a></p>
                    </div>
                  </div>
                  <img src="https://cdn.florentino.com/ckeditor_assets/pictures/259/content_13.jpg" alt="" width="100%">
                </div>
                </div>
              </div>

<script>
var vid = document.getElementById("video");
function playVid() {
    vid.play();
    $(".playVideo").hide();
    $(".stopVideo").show();
    vid.setAttribute("controls","controls");
}

function pauseVid() {
    vid.pause();
    $(".stopVideo").hide();
    $(".playVideo").show();
    video.removeAttribute("controls")
}

$(document).ready(function(){
  $(".stopVideo").hide();

});
</script>
