<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="col-sm-12" style="padding: 0px; margin: 0px 0px 0px 0px;"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/298/content_1.jpg" alt="" width="100%"></div>
  </div>
</div>

<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="col-sm-12 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/296/content_2.jpg" alt="" width="100%"></div>
  </div>

  <div class="row">
    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/290/content_3a.jpg" alt="" width="100%"></div>

    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/281/content_3b.jpg" alt="" width="100%"></div>
  </div>

  <div class="row">
    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/284/content_4a.jpg" alt="" width="100%"></div>

    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/287/content_4b.jpg" alt="" width="100%"></div>
  </div>

  <div class="row">
    <div class="col-sm-12 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/297/content_5.jpg" alt="" width="100%"></div>
  </div>

  <div class="row">
    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/288/content_6a.jpg" alt="" width="100%"></div>

    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/283/content_6b.jpg" alt="" width="100%"></div>
  </div>

  <div class="row">
    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/291/content_7a.jpg" alt="" width="100%"></div>

    <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/289/content_7b.jpg" alt="" width="100%"></div>
  </div>

  <div class="row">
    <div class="col-sm-12 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/295/content_8.jpg" alt=""
      width="100%"></div>

      <div class="col-sm-12 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/299/content_9.jpg" alt=""
        width="100%"></div>
      </div>

      <div class="row">
        <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/292/content_10a.jpg" alt="" width="100%"></div>

        <div class="col-xs-6 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/285/content_10b.jpg" alt="" width="100%"></div>
      </div>

      <div class="row">
        <div class="col-sm-12 padding-col-static"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/293/content_11.jpg" alt="" width="100%"></div>
      </div>

      <div class="row" style="padding: 0px; ">
        <div class="col-xs-6" style="padding: 0px;"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/282/content_12a.jpg" alt="" width="100%"></div>

        <div class="col-xs-6" style="padding: 0px;"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/286/content_12b.jpg" alt="" width="100%"></div>
      </div>

      <div class="row">
        <div class="col-sm-12 padding-row-static" style="margin: 80px 0px 80px 0px;"><img src="https://cdn.florentino.com/ckeditor_assets/pictures/294/content_13.jpg" alt="" width="100%"></div>
      </div>
    </div>
