<li>
	<div class="cart" data-hook>
	  <a href="<%= spree.cart_path %>"><i class="icon-cart icon-1x" aria-hidden='true'><span class='hidden'>&nbsp;</span></i></a>
	</div>
	<div id="cart_count"><%= simple_current_order.item_count %></div>
</li>
